#SceneUnivisionVideoPlayer {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #ffffff;
	background-image : url('');
}

#SceneUnivisionVideoPlayer #videoPlayer {
	position : absolute;
	left : 0px;
	top : 0px;
	height : 720px;
	width : 1280px;
}

#SceneUnivisionVideoPlayer #channelInfo {
	z-index : 99;
	position : absolute;
	left : 20px;
	top : 320px;
	color : #ffffff;
	font-size: 20px;
}

#SceneUnivisionVideoPlayer #channelInfo #channelName {
	font-size: 24px;
	color: green;
}
